
        <div class="header_img"></div>
        <nav>
            <ul class="nav_menu">
                <li><a href="notice">공지사항</a></li>
                <li><a href="">행사안내</a></li>
                <li><a href="">언론보도</a></li>                
            </ul>
        </nav>
        <section>
            <div class="notl_title">
                <h1>공지사항</h1>
                <h3>먹고, 마시고, 즐길 수 있는 대한민국 NO.1 글로벌 야시장</h3>
            </div>
            <article class="notice_wrap">
                <div class="notice_total"><span>Total 87건 1 페이지</span></div>
                <table class="noti_list">
                    <a href="#">
                        <thead>
                            <th class="table_1">번호</th>
                            <th class="table_2">제목</th>
                            <th class="table_3">글쓴이</th>
                            <th class="table_4">날짜</th>
                            <th class="table_5">수정/삭제</th>
                        </thead>
                        <tbody>
                            <!-- <tr class="notice_imp">
                                <td>공지</td>
                                <td><a href="notice_contents">2021년 2차 야시장 매대운영자 모집 연장</a></td>
                                <td>마스터</td>
                                <td>09-30</td>
                                <td>705</td>
                            </tr> -->
                            <% rows.forEach((row, index) => { %>
                            <tr>
                                <td><%= row.noticeNumber %></td>
                                <td onclick="javascript:location.href = '/notice_contents?noticeNumber=<%=row.noticeNumber%>'"><%= row.noticeTitle %></td>
                                <td><%= row.noticeWritter %></td>
                                <td><%= row.noticeCreateDate %></td>
                                <td class="upde">
                                    <input class="no_update" type="button" onclick="javascript:location.href = '/updateNotice?noticeNumber=<%=row.noticeNumber%>'" value="수정">
                                    <input class="no_delete" type="button" onclick="javascript:location.href = '/deleteNotice?noticeNumber=<%=row.noticeNumber%>'" value="삭제">
                                </td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </a>
                </table>
                <div class="notice_search_wrap">
                    <div class="notice_search">
                        <select>
                            <option>제목</option>
                            <option>내용</option>
                            <option>제목+내용</option>
                        </select>
                        <input type="text" name="not_search" placeholder="검색어를 입력해주세요">
                        <button type="submit"></button>
                    </div>
                    <div class="notice_write"><a href="newNotice" onclick="javascript:location.href = '/newNotice'">글 작성</a></div>
                </div>

                <div class="notice_page">
                    <div class="no_pn"> 
                        <div><a class="arrow_ll" href=""></a></div>
                        <div><a class="arrow_l" href=""></a></div>
                        <div><a href="">1</a></div>
                        <div><a href="">2</a></div>
                        <div><a href="">3</a></div>
                        <div><a class="arrow_r" href=""></a></div>
                        <div><a class="arrow_rr" href=""></a></div>
                    </div>   
                </div>
            </article>
        </section>


